<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="BaseFolder" value="C:\Amerden\Kodak" />
		<add key="ColdStartFile" value="C:\Amerden\Kodak\Config\ColdStart.txt" />
		<add key="ConfigFolder" value="C:\Amerden\Kodak\Config" />
	</appSettings>
</configuration>